taskmodel/taskmodel-moodleTransformator/src/main/java/simple_moodle.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="quiz">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="question" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="text">
											<xs:simpleType>
												<xs:restriction
													base="xs:string">

												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="questiontext">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="text"
											type="xs:string" />
										<xs:element ref="file"
											maxOccurs="unbounded">
										</xs:element>
									</xs:sequence>
									<xs:attribute name="format"
										use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="graderinfo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="text"
											type="xs:string" />
										<xs:element ref="file"
											maxOccurs="unbounded">
										</xs:element>
									</xs:sequence>
									<xs:attribute name="format"
										use="required" />
								</xs:complexType>
							</xs:element>
							<xs:choice>
								<xs:sequence>
									<xs:element name="image">
										<xs:complexType />
									</xs:element>
									<xs:element name="defaultgrade">
										<xs:simpleType>
											<xs:restriction
												base="xs:string">
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="penalty">
										<xs:simpleType>
											<xs:restriction
												base="xs:string">
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="hidden">
										<xs:simpleType>
											<xs:restriction
												base="xs:string">
												<xs:enumeration
													value="0" />
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:choice>
										<xs:element name="subquestion"
											maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element
														name="text" type="xs:string" />
													<xs:element
														ref="file" maxOccurs="unbounded">
													</xs:element>
													<xs:element
														name="answer">
														<xs:complexType>
															<xs:sequence>
																<xs:element
																	name="text" type="xs:string" />

															</xs:sequence>
															<xs:attribute
																name="format" use="required" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:sequence>
											<xs:choice minOccurs="0">
												<xs:element
													name="usecase">
													<xs:simpleType>
														<xs:restriction
															base="xs:string">
															<xs:enumeration
																value="0" />
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:sequence>
													<xs:element
														name="single">
														<xs:simpleType>
															<xs:restriction
																base="xs:string">
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element
														name="correctfeedback">
														<xs:complexType>
															<xs:sequence>
																<xs:element
																	name="text" type="xs:string" />
																<xs:element
																	ref="file" maxOccurs="unbounded">
																</xs:element>
															</xs:sequence>
															<xs:attribute
																name="format" use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element
														name="partiallycorrectfeedback">
														<xs:complexType>
															<xs:sequence>
																<xs:element
																	name="text" type="xs:string" />
																<xs:element
																	ref="file" maxOccurs="unbounded">
																</xs:element>
															</xs:sequence>
															<xs:attribute
																name="format" use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element
														name="incorrectfeedback">
														<xs:complexType>
															<xs:sequence>
																<xs:element
																	name="text" type="xs:string" />
																<xs:element
																	ref="file" maxOccurs="unbounded">
																</xs:element>
															</xs:sequence>
															<xs:attribute
																name="format" use="required" />
														</xs:complexType>
													</xs:element>
													<xs:element
														name="answernumbering">
														<xs:simpleType>
															<xs:restriction
																base="xs:string">
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:choice>
											<xs:element name="answer"
												maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element
															name="text" type="xs:string" />
														<xs:element
															ref="file" maxOccurs="unbounded">
														</xs:element>
														<xs:element
															name="feedback">
															<xs:complexType>
																<xs:sequence>
																	<xs:element
																		name="text" type="xs:string" />
																	<xs:element
																		ref="file" maxOccurs="unbounded">
																	</xs:element>
																</xs:sequence>
																<xs:attribute
																	name="format" use="required" />
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:attribute
														name="fraction" use="required">
														<xs:simpleType>
															<xs:restriction
																base="xs:string">
																<xs:enumeration
																	value="0" />
																<xs:enumeration
																	value="100" />
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:choice>
								</xs:sequence>
							</xs:choice>
							<xs:element name="category">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="text">
											<xs:simpleType>
												<xs:restriction
													base="xs:string">

												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="type"
										type="xs:string">
									</xs:attribute>
									<xs:attribute name="num_shown"
										type="xs:string">
									</xs:attribute>
									<xs:attribute name="shuffle"
										type="xs:string">
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="generalfeedback">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="text"
											type="xs:string" />
										<xs:element ref="file"
											maxOccurs="unbounded">
										</xs:element>
									</xs:sequence>
									<xs:attribute name="format"
										use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="time" type="xs:string">
							</xs:element>
							<xs:element name="kindnessextensiontime"
								type="xs:string">
							</xs:element>
							<xs:element name="tasksperpage"
								type="xs:string">
							</xs:element>
							<xs:element name="correctorfeedback">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="text"
											type="xs:string" />
										<xs:element ref="file"
											maxOccurs="unbounded">
										</xs:element>
									</xs:sequence>
									<xs:attribute name="format"
										use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="tries" type="xs:string">
							</xs:element>
							<xs:element
								name="showhandlinghintsbeforestart" type="xs:string">
							</xs:element>
							<xs:element name="numberofcorrectors"
								type="xs:string">
							</xs:element>
							<xs:element name="memento"
								type="xs:string">
							</xs:element>
							<xs:element name="responsefieldlines"
								type="xs:string">
							</xs:element>
							<xs:element name="responsefieldwidth"
								type="xs:string">
							</xs:element>
							<xs:element name="num_shown"
								type="xs:int">
							</xs:element>
							<xs:element name="num_right_min"
								type="xs:int">
							</xs:element>
							<xs:element name="num_right_max"
								type="xs:int">
							</xs:element>
							<xs:element name="penalty_empty"
								type="xs:double">
							</xs:element>
							<xs:element name="penalty_wrong"
								type="xs:double">
							</xs:element>
							<xs:element name="shuffleanswers"
								type="xs:boolean">
							</xs:element>
							<xs:element name="assessmentmode"
								type="xs:int">
							</xs:element>
							<xs:element name="initialtextfieldvalue"
								type="xs:string">
							</xs:element>
							<xs:element name="casesensitivity"
								type="xs:boolean">
							</xs:element>
						</xs:sequence>
						<xs:attribute name="type" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="cloze" />
									<xs:enumeration value="matching" />
									<xs:enumeration value="multichoice" />
									<xs:enumeration value="shortanswer" />
									<xs:enumeration value="truefalse" />
									<xs:enumeration value="meta" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="file">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" use="required" />
					<xs:attribute name="encoding" use="required" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
